POSTGRES_DB=edr
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
CLICKHOUSE_DB=edr
CLICKHOUSE_USER=<clickhouse-user>
CLICKHOUSE_PASSWORD=<clickhouse-password>
POSTGRES_VOLUME_NAME=<existing-postgres-volume>
CLICKHOUSE_VOLUME_NAME=<existing-clickhouse-volume>
KAFKA_VOLUME_NAME=<existing-kafka-volume>
